<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h2>Don't forget to set a password</h2>
    <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">Password (8 caracters min.)</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <div class="form-group">
        <label for="password">Confirm your password</label>
        <input type="password" id="passwordConfirm" class="form-control" formControlName="passwordConfirm">
        <span class="text-danger">{{errorMessagePasswordConfirm}}</span>
      </div>
      <button class="btn btn-primary btn-block" type="submit" [disabled]="setPasswordForm.invalid">Set Password</button>
    </form>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>
