<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h2 class="text-center mb-3">Register</h2>
    <button type="button" class="btn btn-primary btn-block" (click)="loginWithFacebook()">
       <i class="fa fa-facebook" aria-hidden="true"></i>
       Register with Facebook
    </button>
    <button type="button" class="btn btn-danger btn-block" (click)="loginWithGoogle()">
      <i class="fa fa-google" aria-hidden="true"></i>
      Register with Google
    </button>
    <hr>
    <h6 class="text-center">Register with your email address</h6>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <button class="btn btn-primary btn-block" type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
    <p><a routerLink="/login" class="nav-link">Already have an account?</a></p>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>
